/* FONTS */

/* VARIABLES */

/* 
colors :

fb : #73E2CC
linkedin: #1CC3A0
twitter: #06A3A4
tumblr : #1579AB
youtube: #1C606A

je suis passioné : #FAD215
actualités étiquettes : #CACACA

Lee jeffrey section background : #F0F0F0
Docs & newsletter background : #E2E2E2
footer background : #343635

*/

:root {
    --ex-blue-green: #19C5A3;
    --ex-blue: #58B6D0;
    
    --main-sections-width: 1100px;
}

/* === GENERAL  === */

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section__shell {
    width: var(--main-sections-width);
    margin: 0 auto;
    padding: 2rem 0;
}

.heading {
    min-width: fit-content;
    text-transform: uppercase;
    padding: 0.8em 1em;
    font-weight: bold;
}

.section__title {
    position: relative;
    background-color: var(--ex-blue-green);
    color: white;
    font-size: 1.5em;
}

.section__header {
    display: flex;
    align-items: center;
}

.section__header > hr {
    height: 1px;
    width: 100%;
    margin-left: 40px;
    background-color: var(--ex-blue-green);
}

/* === HEADER === */

header {
    position: relative;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div {
    width: var(--main-sections-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__infos {
    text-align: center;
}

.header__logo {
    height: 50px;
}

.header__links {
    display: flex;
    align-items: center;
}

.header__contact {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
}

.header__contact > img {
    height: 25px;
}

.header__socials {
    display: flex;
    gap: 7px;
}

.header__social-link {
    height: 35px;
    width: 35px;
    padding: 2px;
}

.header__social-link:hover {
    opacity: 60%;
}

.header__social--facebook {
    background-color: #73E2CC;
}

.header__social--linkedin {
    background-color: #1CC3A0;
}

.header__social--twitter {
    background-color: #06A3A4;
}

.header__social--tumblr {
    background-color: #1579AB;
}

.header__social--youtube {
    background-color: #1C606A;
}

.header__social__img {
    width: 100%;
}

.header__nav__container {
    position: absolute;
    bottom: -70px;
    min-height: 70px;
    z-index: 1;
    width:100%;
    background-color: rgb(255, 255, 255, 0.5);
    color: white;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--main-sections-width);
    margin: 0 auto;
}

.header__nav__link {
    position: relative;
    max-width: 250px;
    text-transform: uppercase;
    font-weight: 500;
}

.header__nav__link:before {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    width: 3px;
    height: 20px;
    background-color: var(--ex-blue-green);
}

.header__nav__link:hover {
    color: var(--ex-blue-green);
}

.header__nav__link:hover:before {
    display: block;
}

.header__search-form {
    display: flex;
    height: 50px;
    margin: 5px;
}

.header__search-form > input {
    height: 100%;
    border-radius: 6px 0 0 6px;
    border: none;
}

.header__search-form > button {
    width: 50px;
    border-radius: 0 6px 6px 0;
    border: none;
    background-color: white;
}

.header__search-form > button:hover {
    cursor: pointer;
}

.header__search-form > button > img {
    width: 30px;
}

/* === MAIN === */

/* HERO */

.hero {
    position: relative;
    height: 700px;
    text-align: center;
    font-size: 5em;
    background-image: url(/assets/images/hero-1280x848.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__title {
    color: white;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero__title > span {
    font-size: 0.8em;
}

/* FEATURED */

.featured {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
}

.featured__img-container {
    position: relative;
    width: calc(var(--main-sections-width)*0.5);
    height: calc(var(--main-sections-width)*0.5);
}

.featured__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.featured__meta {
    position: absolute;
    height:80%;
    padding: 10% 0;
    top: 0;
    left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
}

.featured__meta__date {
    background-color: var(--ex-blue-green);
    font-size: 1.3em;
}

.featured__meta__title {
    width: min-content;
    font-size: 3.5em;
    font-weight: 500;
}

.featured__content {
    max-width: 45%;
    font-size: 1.3em;
    line-height: 1.4em;
}

.featured__content p:first-child {
    font-weight: bold;
    margin-bottom: 40px;
}

/* === FOOTER === */